.body{
    background: no-repeat center/cover;
    background-image: url('../Asset/back-view-crowd-fans-watching-live-performance-music-concert-night-copy-space.jpg');
    background-size: cover;
    background-color: red;
}
.registration-container,.card{
    background-color: rgba(0, 0, 0, 0.3);
    /* width: 600px; */
}
label{
    color: white;
}
input,select{
    /* background-color: rgba(205, 205, 205, 0.8); */
}
/* .body{
    background-color: red;
} */

/* .submit-button{
    background: linear-gradient(45deg, #ff0066, #ffdd57);
    border: none;
} */