/* .body{
    background-image: url('../Asset/back-view-crowd-fans-watching-live-performance-music-concert-night-copy-space.jpg');
    background-size: cover;
    background-color: red;
} */
/* .body{
    background-color: red;
} */

/* .submit-button{
    background: linear-gradient(45deg, #ff0066, #ffdd57);
    border: none;
} */