<div class="m-3  rounded">
    <ul class="nav nav-tabs nav-justified nav-pills">
        <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#upcomingEvents">UPCOMING EVENTS</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#completedEvents">COMPLETED EVENTS</button></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane  active show fade" id="upcomingEvents">
            <p>UPCOMING EVENTS</p>
        </div>
        <div class="tab-pane fade" id="completedEvents">
            <p>COMPLETED EVETNS</p>
        </div>

    </div>
</div>