<nav class="navbar navbar-dark navbar-expand-lg" style="background-color:rgb(46, 46, 46)">
    <div class="container d-flex justify-content-between">

        <a class="navbar-brand " href="#">
            <img src="/PE-removebg-preview.png" alt="" width="55" height="55">
            PrimeEvents
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarItems"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarItems">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngIf="!(authService.isAuthenticated$ | async)"><a class="nav-link active" routerLink="login">Login</a></li>
                <li class="nav-item" *ngIf="!(authService.isAuthenticated$ | async)"><a class="nav-link" routerLink="registration">Registration</a></li>
                <!-- <li class="nav-item" *ngIf="(authService.isAuthenticated$ | async)"><a class="btn btn-link nav-link active" (click)="onLogout()">Logout</a></li> -->
                <li class="nav-item" *ngIf="!(authService.isAuthenticated$ | async)"><a class="nav-link" routerLink="events">Events</a></li>
                <li class="nav-item" *ngIf="(authService.userRole$ | async) == 'User'" ><a class="nav-link" routerLink="events">Explore Events</a></li>
                <li class="nav-item" *ngIf="(authService.userRole$ | async) == 'Organizer' && authService.isAuthenticated$" ><a class="nav-link" routerLink="events">Manage Events</a></li>
                <li class="nav-item" *ngIf="(authService.userRole$ | async) == 'Organizer' && authService.isAuthenticated$" ><a class="nav-link" routerLink="feedbacks">Feedbacks</a></li>
                <li class="nav-item" *ngIf="(authService.isAuthenticated$ | async) && (authService.userRole$ | async) === 'User'"><a class="nav-link" routerLink="myBookings">My Bookings</a></li>
                <div *ngIf="(authService.isAuthenticated$ | async)" class="dropdown">
                    <button class="btn ms-3" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" data-bs-target=".dropdown-menu" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-circle-user"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                      <a class="dropdown-item text-dark" (click)="navigateTo()">Profile</a>
                      <a class="dropdown-item text-dark" (click)="onLogout()">Logout</a>
                    </div>
                </div>
            </ul>
        </div>  
    </div>
</nav>