body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar {
    background: linear-gradient(45deg, #3a1c71, #ff0066);
    padding: 0px;
}
.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
}
.nav-link{
    font-size: 20px;
}
.nav-links li {
    display: inline;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: transform 0.3s;
}
.nav-links a:hover {
    transform: scale(1.1);
    color: #ffdd57;
}
a{
    text-decoration: none;
    color: white;
}
i{
    font-size: 30px;
    color: white;
}
a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.navbar-brand{
    font-size: 25px;
}
a:hover{
    transform: translateY(-3px);
}
img{
    margin: 0px;
    padding: 0px;
}

