
<!-- <nav class="navbar">
    <div class="logo"><a  routerLink="">🎉 Event Management</a></div>
    <ul class="nav-links">
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="registration">Register</a></li>
        <li><a routerLink="events">Events</a></li>
    </ul>
</nav> -->
<nav class="navbar navbar-dark navbar-expand-lg" style="background-color:rgb(46, 46, 46)">
    <div class="container">
        <a class="navbar-brand" href="#">🎉 Event Management</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarItems"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarItems">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" routerLink="login">Login</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="registration">Registration</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="events">Events</a></li>
            </ul>
        </div>
    </div>
</nav>