
body {
/* background: linear-gradient(to right, #ece9e6, #ffffff);  */
    background-image: url('../Asset/back-view-crowd-fans-watching-live-performance-music-concert-night-copy-space.jpg');
}
.welcome{
color: #ff0066;
}       

.login-container {
background-image: url('../Asset/back-view-crowd-fans-watching-live-performance-music-concert-night-copy-space.jpg');
background: no-repeat center/cover;
background-size: cover;
}

.login-box {
border: 1px solid rgba(0, 0, 0, 0.05);
background-color: rgba(0, 0, 0, 0.4);
padding: 4rem !important; 
max-width: 450px; 
width: 100%;    
}

.login-box h2 {
font-weight: 600;
}

.form-control:focus {
box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
background: linear-gradient(45deg, #ff0066, #ffdd57);
transition: all 0.3s ease;
border: none;
}

.btn-primary:hover {
background-color: #0056b3;
border-color: #0056b3;
transform: translateY(-2px); 
box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

